<footer>
    <div class="contactInfo">
        <div class="info">
            <img src="{{ url_for('footer.static' , filename='media/whatsapp.png' ) }}photos/whatsapp.png" alt=""
                 style="width: 20px">
            טלפון זמין בין הימים א'-ה' בשעות 8:30 ל15:30 - 07-5343065
        </div>

        <div class="info">
            <img src="{{ url_for('footer.static' , filename='media/email.png' ) }}photos/email.png" alt=""
                 style="width: 20px">
            מייל לפניות נוספות VetRinat@gmail.com
        </div>

        <div class="info">
            <img src="{{ url_for('footer.static' , filename='media/address.png' ) }}photos/address.png" alt=""
                 style="width: 20px">
            כתובת המרפאה: שמעוני 9, באר שבע, ישראל
        </div>
    </div>
</footer>