<link rel="stylesheet" href="{{ url_for('footer.static',filename='CSS/footer.css') }}">

<footer>
    <div class="contactInfo">
        <div class="info">
            <img src="{{ url_for('footer.static' , filename='media/whatsapp.png') }}" alt="">
            טלפון זמין בין הימים א'-ה' בשעות 8:30 ל15:30 - 07-5343065
        </div>

        <div class="info">
            <img src="{{ url_for('footer.static' , filename='media/email.png') }}" alt="">
            מייל לפניות נוספות VetRinat@gmail.com
        </div>

        <div class="info">
            <img src="{{ url_for('footer.static' , filename='media/address.png') }}" alt="">
            כתובת המרפאה: שמעוני 9, באר שבע, ישראל
        </div>
    </div>
</footer>


