/* General styling */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri, sans-serif;
    background-color: #cce6ff;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: white;
    font-size: calc(1.7rem + 1vw);
}

h2 {
    font-size: 20px;
    color: #555555;
}

h1, h2 {
    margin: 10px 0;
    font-weight: bold;
    color: #333333;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/*Registration and LogIn styling:*/
.RegistrationForm {
    width: 350px;
    background-color: #E9F3FD;
    border: 2px black solid;
    border-radius: 60px;
    margin: 50px auto;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.RegistrationPetForm {
    width: 350px;
    background-color: #E9F3FD;
    border: 2px black solid;
    border-radius: 60px;
    margin: 50px auto;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.RegistrationLine {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}

.RegistrationLine label {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.RegistrationLine input,
.RegistrationLine select {
    width: 60%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 15px;
    outline: none;
    font-size: 14px;
    font-family: Calibri, sans-serif;
    box-sizing: border-box;
}

.RegistrationLine input::placeholder {
    color: #aaaaaa;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #5cbba9;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
    background-color: #4ea597;
}

.LogInForm {
    width: 350px;
    background-color: #E9F3FD;
    border: 2px black solid;
    border-radius: 60px;
    margin: 50px auto;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Homepage styling*/
.home-page {
    display: grid;
    height: 99vh;
    width: 99.9vw;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 20% 30% 5% 25% 15% 5%;
}

.home-page header {
    grid-column: 1/span 3;
}

.home-page img {
    width: 100%;
    height: 100%;
}

.home-page #dog2 {
    grid-row: 3/span 2;
    align-self: center;

}

.home-page #cat2 {
    grid-row: 3/span 2;
    grid-column: 3 /span 1;
    align-self: center;
}

.home-page #cat1 {
    align-self: center;
}

.home-page #dog1 {
    align-self: center;
}

.home-page #activityHours {
    grid-column: 1/span 3;
    font-size: calc(0.65rem + 1vw);

}

.home-page #activityHours h3 {
    font-weight: bold;
    font-size: calc(0.8rem + 1vw);
}

.home-page h2 {
    font-weight: bold;
    font-size: calc(1.2rem + 1vw);
    align-self: start;
    color: black;
}

.home-page .services {
    grid-column: 2/span 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid #59aaf2;
    border-radius: 30px;
    font-weight: bold;
    font-size: calc(0.8rem + 1vw);
    margin: 30px 10px 40px 10px;
    text-decoration: none;
    color: inherit;

}

.home-page .service {
    height: auto;
}

.home-page .service img {
    width: calc(1rem + 1vw);
}

.home-page #homePageText {
    display: flex;
    flex-direction: column;
    justify-self: end;
    text-align: center;
    font-size: calc(0.8rem + 1vw);
    line-height: 1.1;
    word-break: break-word;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.welcome {
    position: absolute;
    right: 15px;
    padding: 5px 10px;
    font-size: 1em;
}

/*homepage & contactInfo styling*/
.contactInfo {
    grid-column: 1/span 3;
    display: flex;
    justify-content: space-around;
}


/*profile styling: */
.profile-page h2 {
    color: black;
    font-size: calc(0.8rem + 1vw);
    background-color: #B2D6CB;
}

.profileContent {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.profile-page dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    margin: 20px;
    grid-column-gap: 100px;
    font-size: calc(0.5rem + 1vw);;
}

.profile-page dt {
    font-weight: bold;
    text-align: start;
}

.profile-page dd {
    margin: 0;
    color: #333;
    text-align: start;
}

.Chelsy {
    width: 15%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 15%;
}

.editDetails {
    position: absolute;
    font-family: Calibri, sans-serif;
    right: 10%;
    background-color: #B2D6CB;
    border-color: lightblue;
    border-radius: 7px;
    font-size: calc(1rem);
    padding-left: 15px;
    padding-right: 15px;
}

.history {
    position: absolute;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    background-color: #B2D6CB;
    border-color: lightblue;
    border-radius: 7px;
    font-size: calc(2rem);
    padding-left: 15px;
    padding-right: 15px;
}

/*Info styling: */
.info-page {
    background-color: white;
    height: 99vh;
    width: 99.9vw;
}

.infoBox ul {
    padding: 0 40px;
    list-style-type: disc;
}

.infoBox li {
    text-align: right;
}

.info-page .contactInfo {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.info-page .services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 25px;
}

.info-page .service {
    border: 3px solid #59aaf2;
    padding: 0.5em;
    width: 25%;
    height: 4em;
    align-content: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: calc(0.8rem + 1vw);
    word-break: break-word;
}

.infoBoxes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 30px;
}

.infoBox {
    background-color: #cce6ff;
    font-size: calc(1.5rem);
    width: 25%;
    height: auto;
    border-radius: 30px;
    align-content: center;
    min-height: 350px;
}

/*TreatmentSummary styling:   */
.select_container {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 0 auto;
    height: 95vh;
    width: 95vw;
    max-width: 100vw;
    box-sizing: border-box;
    direction: ltr;
    align-items: flex-start;
    justify-content: space-between;
}

.treatment-summary-form {
    flex: 2;
    padding: 20px;
    direction: rtl;
    height: 80%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.horizontal-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: flex-end;
}

.horizontal-group .patient-only .form-group,
.horizontal-group .doctor-only .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: yellow;
    flex: 1;
}

.treatment-summary-form .form-group {
    margin-bottom: 15px;
    flex: 1;
}

.treatment-summary-form .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: right;
}

.treatment-summary-form input,
.treatment-summary-form select {
    border-radius: 100px;
}

.treatment-summary-form textarea {
    border-radius: 5px;
    height: 85%;
}

.treatment-summary-form input,
.treatment-summary-form select,
.treatment-summary-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: right;
    font-family: Calibri, sans-serif;
}

.treatment-summary-form #summaryRap {
    height: auto;
    flex-grow: 1;
    resize: none;
    box-sizing: border-box;
}

.form-actions {
    display: flex;
    justify-content: left;
    gap: 15px;
}

.form-actions button {
    background-color: #88BDAE;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    font-family: Calibri, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-justify: auto;
}

.treatment-summary-form .form-actions button:hover {
    background-color: #4ea597;
}

.history-section {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    text-align: center;
    direction: rtl;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
}

.history-section h2 {
    text-align: center;
    margin-bottom: 15px;
}

.history-section table {
    width: 100%;
    border-collapse: collapse;
    background-color: #cce6ff;
}

.history-section table th,
.history-section table td {
    border: 1.5px solid black;
    padding: 10px;
    text-align: center;
}

.history-section table th {
    border: none;
}

.open-record-button {
    padding: 10px 20px;
    background-color: #88BDAE;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 35%;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 1em;
    max-height: 30px;
    font-size: 16px;
    font-family: Calibri, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.open-record-button:hover {
    background-color: #4ea597;
}

.select_container .treatment-summary-form {
    width: 100%;
}

.userTypeButtons {
    display: flex;
    gap: 20px;
    position: relative;
    left: -150px;
}

.userTypeButtons button {
    background-color: #5CA48F;
}

/*Header styling: */
header {
    background-color: #59aaf2;
    font-family: Calibri, sans-serif;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    direction: rtl;
    gap: 20px;
    position: relative;
    min-height: 2.5em;
}

header h1 {
    font-size: 4vw;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    flex-grow: 1;
    color: white;
}

header button {
    background-color: #88BDAE;
    color: white;
    font-family: Calibri, sans-serif;
    font-size: 1em;
    padding: 2px 10px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
    justify-content: center;
    width: 8em;
    margin: 0;
    box-sizing: border-box;
    border-color: lightblue;
}

.headerButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 5px;
    position: absolute;
    top: 25px;
    right: 10px;
}

.animalButtons {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 150px;
}

.animalButtons button {
    text-align: start;
    background-color: #88BDAE;
    border-radius: 10px;
    border-color: lightblue;
    padding-right: 5px;
    font-family: Calibri, sans-serif;
    width: 8em;
    font-size: 1em;
}

header .icon {
    width: 60px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

@keyframes rotate-icon {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

header .icon:hover {
    animation: rotate-icon 1s ease-in-out;
}

/*Style according to screen size:   */
@media (max-width: 768px) {
    /*general: */
    body {
        box-sizing: border-box;
    }

    /*TreatmentSummary:  */
    .select_container {
        flex-direction: column;
        gap: 15px;
        padding-right: 15px;
        margin-inline: 27px;
    }

    .treatment-summary-form {
        width: 100%;
    }

    .history-section {
        width: 100%;
        padding: 0;

    }

    .userTypeButtons {
        flex-direction: column;
    }


    /*Homepage: */
    .home-page .services {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.45em 1em 0.5em 1em;

    }

    /*info: */
    .info-page .infoBoxes {
        align-items: flex-start;

    }

    .info-page .infoBox {
        font-size: calc(0.7rem + 1vw);
        width: 30%;
        height: auto;
        padding: 0.6em 0;
        min-height: 500px;
        align-content: start;
    }
}

@media (max-height: 650px ) {
    /*header: */
    .logoutButton {
        display: none;
    }

    /*profile: */
    .history {
        bottom: 0.25em;
        left: 0.5em;

    }
}

@media (min-height: 650px) {
    /*info: */
    .info-page .contactInfo {
        position: absolute;
        margin: 15px 0;
    }

    /*profile: */
    .history {
        bottom: 1em;
        left: 1em;
    }

    /*header: */
    .headerButtons {
        gap: 8px;
    }
}


