/* General styling */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri, sans-serif;
    background-color: #cce6ff; /* Light blue background */
    margin: 0;
    padding: 0;
    direction: rtl; /* Right-to-left alignment */
    text-align: center;
    height: 100vh;
}

/*Registration and Log in Style*/
.RegistrationForm {
    width: 350px;
    background-color: #E9F3FD; /* White form background */
    border: 2px black solid;
    border-radius: 60px; /* Rounded form corners */
    margin: 50px auto;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Form shadow */
}

.RegistrationPetForm {
    width: 350px;
    background-color: #E9F3FD; /* White form background */
    border: 2px black solid;
    border-radius: 60px; /* Rounded form corners */
    margin: 50px auto;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Form shadow */
}

h1, h2 {
    margin: 10px 0;
    font-weight: bold;
    color: #333333; /* Darker text for headings */
}

h2 {
    font-size: 20px;
    color: #555555; /* Slightly lighter gray */
}

/* Input fields */
.RegistrationLine {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}

.RegistrationLine label {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.RegistrationLine input,
.RegistrationLine select {
    width: 60%;
    padding: 8px;
    border: 1px solid #cccccc; /* Light gray border */
    border-radius: 15px; /* Rounded input fields */
    outline: none;
    font-size: 14px;
    font-family: Calibri, sans-serif;
    box-sizing: border-box;
}

.RegistrationLine input::placeholder {
    color: #aaaaaa; /* Placeholder color */
    font-size: 14px;
}

/* Submit button */
input[type="submit"] {
    background-color: #5cbba9; /* Teal button color */
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Button shadow */
}

input[type="submit"]:hover {
    background-color: #4ea597; /* Slightly darker teal */
}

.home-page {
    display: grid;
    width: 100vw; /* 100% מרוחב המסך */
    height: 100vh; /* 100% מגובה המסך */
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 20% 30% 5% 25% 15% 5%;
    /*grid-template-columns: repeat(auto-fit, 15% 70% 15%);*/
}

.home-page header
    /*.homePageHeader */
{
    /*background-color: #59aaf2;*/
    /*font-family: Calibri, sans-serif;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/

    grid-column: 1/span 3;
}

/*.homePageHeader*/
/*{*/
/*    background-color: #59aaf2;*/
/*    font-family: Calibri, sans-serif;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/

/*    grid-column: 1/span 3;*/
/*}*/
.icon {
    position: absolute;
    left: 200px;
    width: 40000px;
    height: 40px;
    /*object-fit: cover;*/
    align-self: center;
}

h1 {
    text-align: center;
    color: white;
    font-size: calc(1.7rem + 1vw);
}

.home-page #dog2 {
    grid-row: 3/span 2;
    align-self: center;

}

.home-page #cat2 {
    grid-row: 3/span 2;
    grid-column: 3 /span 1;
    align-self: center;
}

.home-page #cat1 {
    align-self: center;
}

.home-page #dog1 {
    align-self: center;
}

.home-page #activityHours {
    grid-column: 1/span 3;
}

.home-page #activityHours h3 {
    font-weight: bold;
    font-size: calc(0.8rem + 1vw);
}

.home-page #activityHours {
    font-size: calc(0.65rem + 1vw);
}

.home-page h2 {
    font-weight: bold;
    font-size: calc(1.2rem + 1vw);
    align-self: start;
    color: black;
}

.home-page .services {
    grid-column: 2/span 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid #59aaf2;
    border-radius: 30px; /* Rounded form corners */
    font-weight: bold;
    font-size: calc(0.8rem + 1vw);
    /*margin-top: 30px;*/
    /*margin-bottom: 40px;*/
    margin: 30px 10px 40px 10px;
}

.contactInfo {
    grid-column: 1/span 3;
    display: flex;
    justify-content: space-around;
}

.home-page #homePageText {
    display: flex;
    flex-direction: column;
    justify-self: end;
    text-align: center;
    font-size: calc(0.8rem + 1vw); /* גודל דינמי שמכסה את המשבצת */
    line-height: 1.1; /* התאמת גובה השורות כך שיתאים למשבצת */
    word-break: break-word; /* שבירת מילים כדי להתאים לגבולות המשבצת */
    height: 100%; /* דואג שהטקסט יתאים לגובה המשבצת */
    width: 100%; /* דואג שהטקסט יתאים לרוחב המשבצת */
    justify-content: space-evenly;
    /*margin-top: 50px;*/
    align-items: center;
}

.LogInForm {
    width: 350px;
    background-color: #E9F3FD; /* White form background */
    border: 2px black solid;
    border-radius: 60px; /* Rounded form corners */
    margin: 50px auto;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Form shadow */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.profile-page .icon{*/
/*    position: absolute;*/
/*    left: 200px;*/
/*    width: 40000px;*/
/*    height: 40px;*/
/*    !*object-fit: cover;*!*/
/*    align-self: center;*/
/*}*/

/*.profile-page h1 {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    font-size: calc(3rem + 1vw);*/
/*    height: 18vh;*/
/*}*/

.welcome {
    position: absolute;
    right: 15px;
    font-size: calc(1.3rem);
    padding: 5px 10px;
}

/*כמחכבגסצחמס*/
/*.profileHeader {*/
/*    !*background-color: #59aaf2;*!*/
/*    !*font-family: Calibri, sans-serif;*!*/
/*    !*display: flex;*!*/
/*    !*align-items: center;*!*/
/*    !*justify-content: center;*!*/

/*    !*position: relative;*!*/
/*    padding: 10px;*/
/*}*/

/*.homeButton {*/
/*    position: absolute;*/
/*    right: 25px;*/
/*    margin-top: 80px;*/
/*    !*background-color: #88BDAE;*!*/
/*    !*border-color: lightblue;*!*/
/*    !*border-radius: 10px;*!*/
/*    !*font-size: calc(1.5rem);*!*/
/*    !*padding-left: 25px;*!*/
/*    !*padding-right: 15px;*!*/
/*}*/

/*.menuButton {*/
/*    position: absolute;*/
/*    right: 25px;*/
/*    margin-top: 160px;*/
/*    !*background-color: #88BDAE;*!*/
/*    !*border-color: lightblue;*!*/
/*    !*border-radius: 10px;*!*/
/*    !*font-size: calc(1.5rem);*!*/
/*    !*padding-left: 15px;*!*/
/*    !*padding-right: 15px;*!*/
/*}*/

/*.loginButton {*/
/*    position: absolute;*/
/*    right: 25px;*/
/*    margin-top: 240px;*/
/*    !*background-color: #88BDAE;*!*/
/*    !*border-color: lightblue;*!*/
/*    !*border-radius: 10px;*!*/
/*    !*font-size: calc(1.5rem);*!*/
/*    !*padding-left: 35px;*!*/
/*    !*padding-right: 15px;*!*/
/*}*/

/*.regisButton {*/
/*    position: absolute;*/
/*    right: 25px;*/
/*    margin-top: 320px;*/
/*    !*background-color: #88BDAE;*!*/
/*    !*border-color: lightblue;*!*/
/*    !*border-radius: 10px;*!*/
/*    !*font-size: calc(1.5rem);*!*/
/*    !*padding-left: 53px;*!*/
/*    !*padding-right: 15px;*!*/
/*}*/

/*.infoButton {*/
/*    position: absolute;*/
/*    right: 25px;*/
/*    margin-top: 400px;*/
/*    !*background-color: #88BDAE;*!*/
/*    !*border-color: lightblue;*!*/
/*    !*border-radius: 10px;*!*/
/*    !*font-size: calc(1.5rem);*!*/
/*    !*padding-left: 55px;*!*/
/*    !*padding-right: 15px;*!*/
/*}*/

/*.logoutButton {*/
/*    position: absolute;*/
/*    right: 25px;*/
/*    margin-top: 480px;*/
/*    !*background-color: #88BDAE;*!*/
/*    !*border-color: lightblue;*!*/
/*    !*border-radius: 10px;*!*/
/*    !*font-size: calc(1.5rem);*!*/
/*    !*padding-left: 36px;*!*/
/*    !*padding-right: 15px;*!*/
/*}*/

.animalButtons {
    display: none;
    flex-direction: column; /* Arrange buttons in a column */
    position: absolute; /* Allows precise placement */
    top: 85px; /* Adjust based on your layout */
    right: 150px; /* Align to the right edge */
}

.animalButtons button {
    /*width: 120px; !* Set a consistent width *!*/
    text-align: start;
    background-color: #88BDAE;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    border-color: lightblue;
    padding-right: 5px;
    font-family: Calibri, sans-serif;
    width: 8em;
    font-size: 1em;

}

.profile-page h2 {
    color: black;
    font-size: calc(0.8rem + 1vw);
    background-color: #B2D6CB;
}

.profileContent {
    width: 80%; /* המרחק הכללי מהקצוות יהיה 80% מהרוחב הכולל */
    margin: 0 auto; /* מרכז את המלבן */
    padding: 20px; /* מרווח פנימי */
}

.profile-page dl {
    display: grid;
    grid-template-columns: auto 1fr; /* שתי עמודות */
    gap: 20px; /* רווח בין תאים */
    margin: 20px;
    grid-column-gap: 100px;
    font-size: calc(0.5rem + 1vw);;
}

.profile-page dt {
    font-weight: bold; /* מודגש */
    text-align: start;
}

.profile-page dd {
    margin: 0; /* מבטל רווחים */
    color: #333; /* צבע תוכן */
    text-align: start;
}

.Chelsy {
    width: 15%; /* חצי מרוחב ההורה */
    height: auto; /* שומר על הפרופורציות */
    position: absolute; /* מאפשר למקם אותה באופן חופשי */
    top: 40%; /* מיקום אנכי - כמה פיקסלים מלמעלה */
    left: 15%; /* מיקום אופקי - כמה פיקסלים מהימין */
}

.editDetails {
    position: absolute;
    font-family: Calibri, sans-serif;
    right: 10%;
    background-color: #B2D6CB;
    border-color: lightblue;
    border-radius: 7px;
    font-size: calc(1rem);
    padding-left: 15px;
    padding-right: 15px;
}

/*צריך לתקן את המיקום ביחס לשמאל למטה של המך כי במסך נמוך זה לא ממוקם טוב*/
.history {
    position: absolute;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    left: 33%;
    top: 75%;
    background-color: #B2D6CB;
    border-color: lightblue;
    border-radius: 7px;
    font-size: calc(2rem);
    padding-left: 15px;
    padding-right: 15px;
}

.info-page {
    background-color: white;
}

/*.info-page h1 {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    font-size: calc(3rem + 1vw);*/
/*    height: 18vh;*/
/*}*/

.infoBox ul {
    padding: 0 40px; /* Add padding for bullets */
    list-style-type: disc; /* Ensure bullets are displayed */
}

.infoBox li {
    text-align: right; /* Align text properly */
}

.info-page .contactInfo {
    position: fixed; /* Fixes it to the viewport */
    bottom: 0; /* Positions it at the bottom */
    left: 0;
    width: 100%; /* Makes it span the entire width of the screen */
    padding: 10px 0; /* Optional, for spacing */
    display: flex;
    justify-content: space-around;
}

.info-page .services {
    display: flex; /* מסדר את הילדים (item) אחד ליד השני */
    gap: 10px; /* רווח בין האלמנטים */
    justify-content: center; /* ממרכז את האלמנטים */
    align-items: center; /* ממרכז אותם אנכית */
    margin: 20px; /* רווח מסביב למיכל */
}

.info-page .service {
    border: 3px solid #59aaf2; /* גבול מסביב */
    padding: 10px; /* מרווח פנימי */
    width: 25%;
    height: 70px;
    align-content: center;
    margin-left: 5%;
    border-radius: 10px; /* Rounded form corners */
    font-weight: bold;
    font-size: calc(0.8rem + 1vw);
}

.infoBoxes {
    display: flex; /* מסדר את הילדים (item) אחד ליד השני */
    gap: 10px; /* רווח בין האלמנטים */
    justify-content: center; /* ממרכז את האלמנטים */
    align-items: center; /* ממרכז אותם אנכית */
    margin: 20px; /* רווח מסביב למיכל */
}

.infoBox {
    background-color: #cce6ff;
    font-size: calc(1.5rem);
    width: 25%;
    margin-left: 5%;
    height: 350px;
    border-radius: 30px; /* Rounded form corners */
    align-content: center;
    /*פה צריך להבין איך מזיזים את הטקסט טיפה שמאלה בכל ריבוע*/
}

/*Treatment Summary:  */
/* הגדרת תצוגת פלקס למסגרת הכללית */
.select_container {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 0 auto;
    height: 95vh;
    width: 95vw;
    max-width: 100vw;
    box-sizing: border-box;
    direction: ltr;
    align-items: flex-start;
    justify-content: space-between;
}

/* סגנון לטופס הטיפול */
.treatment-summary-form {
    flex: 2;
    padding: 20px;
    direction: rtl;
    height: 80%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Arrange the fields horizontally */
.horizontal-group {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    /*justify-content: center;*/
    gap: 15px;
    align-items: flex-end;
}

.horizontal-group .patient-only .form-group,
.horizontal-group .doctor-only .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: yellow;
    flex: 1;
}

.treatment-summary-form .form-group {
    margin-bottom: 15px;
    flex: 1;
}

.treatment-summary-form .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: right;
}

.treatment-summary-form input,
.treatment-summary-form select {
    border-radius: 100px;
}

.treatment-summary-form textarea {
    border-radius: 5px;
    height: 85%;
}

.treatment-summary-form input,
.treatment-summary-form select,
.treatment-summary-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: right;
    font-family: Calibri, sans-serif;
}

.treatment-summary-form #summaryRap {
    height: auto;
    flex-grow: 1;
    resize: none;
    box-sizing: border-box;
}

/* format button */
.form-actions {
    display: flex;
    justify-content: left;
    gap: 15px;
}

.form-actions button {
    background-color: #88BDAE; /* כפתורים ירוקים */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    /*max-height: 30px;*/
    font-family: Calibri, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-justify: auto;
}

.treatment-summary-form .form-actions button:hover {
    background-color: #4ea597;
}

/* format history section */
.history-section {
    flex: 1;
    /*background-color: #E9F3FD;*/
    padding: 20px;
    overflow-y: auto;
    text-align: center;
    direction: rtl;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    height: 80%;
    width: 100%;
}

.history-section h2 {
    text-align: center;
    margin-bottom: 15px;
}

/* past treatment details */
.history-section table {
    width: 100%;
    border-collapse: collapse;
    background-color: #cce6ff;
}

.history-section table th,
.history-section table td {
    border: 1.5px solid black;
    padding: 10px;
    text-align: center;
}

.history-section table th {
    border: none;
}

/* כפתור פתיחה */
.open-record-button {
    padding: 10px 20px;
    background-color: #88BDAE;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 35%;
    align-self: flex-end;
    margin-top: auto;
    max-height: 30px;
    font-size: 16px;
    font-family: Calibri, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.open-record-button:hover {
    background-color: #4ea597;
}

.select_container .treatment-summary-form {
    width: 100%; /* התאמת רוחב */
}

header {
    background-color: #59aaf2;
    font-family: Calibri, sans-serif;
    padding: 40px;
    display: flex;
    align-items: center;
    /*justify-content: flex-start;*/
    /*justify-content: space-between;*/
    justify-content: center;


    color: white;
    direction: rtl;
    gap: 20px;
    position: relative;
}

header .icon {
    width: 60px;
    height: auto;
    /*flex-shrink: 0;*/
    /*margin: 0;*/
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

@keyframes rotate-icon {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

/* Apply the animation on click */
header .icon:hover {
    animation: rotate-icon 1s ease-in-out;
}

header h1 {
    /*font-size: calc(3rem + 1vw);*/
    font-size: 4vw;
    margin: 0 auto;
    /*text-align: center;*/
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    flex-grow: 1;
}

.intro h3 {
    font-size: 1em;
    background-color: #59aaf2;
    padding: 0;
    margin: 0;
    top: 5px;
    right: 10px;
}

header button {
    background-color: #88BDAE;
    color: white;
    font-family: Calibri, sans-serif;
    font-size: 1em;
    padding: 2px 10px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
    justify-content: center;
    width: 8em;
    margin: 0;
    box-sizing: border-box;
    border-color: lightblue;
}
.userTypeButtons {
    display: flex;
    gap: 20px;
    position: relative;
    left: -150px;
}

.userTypeButtons button {
    background-color: #5CA48F;
}

/*.headerButtons button {*/
/*    background-color: #88BDAE; !* כפתורים בצבע ירוק *!*/
/*    border: none;*/
/*    !*border-color: lightblue;*!*/
/*    !*color: white; *!*/
/*    font-family: Calibri, sans-serif;*/
/*    font-size: 1em;*/
/*    !*font-size: 14px;*!*/
/*    padding: 10px 20px;*/
/*    border-radius: 25px;*/
/*    cursor: pointer;*/
/*    !*position: relative;*!*/
/*    z-index: 10;*/
/*    !*padding-left: 25px;*!*/
/*    !*padding-right: 15px;*!*/
/*    justify-content: center;*/
/*    !*align-items: flex-start;*!*/
/*}*/

.headerButtons {
    display: flex;
    flex-direction: column; /* Arrange buttons in a column */
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
    position: absolute;
    top: 45px;
    right: 10px;
    /*align-content: start;*/
}


/*.header-buttons{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 10px;*/
/*}*/
/*.header-buttons .header-bnt{*/
/*    background-color: #88BDAE;*/
/*    border: none;*/
/*    color: white;*/
/*    font-size: 15px;*/
/*    font-family: Calibri, sans-serif;*/
/*    padding: 10px 20px;*/
/*    border-radius: 20px;*/
/*    cursor: pointer ;*/
/*    text-align: center;*/
/*}*/
/*.header-buttons .header-bnt{*/
/*    background-color: #76A898;*/
/*}*/

/*//TreatmentSummary: view by user*/


/* למסכים בינוניים (טאבלטים)/ הקטנת מסך עד הסוף חצי מסך מחשב נייד שי   */
@media (max-width: 900px) {
    body {
        box-sizing: border-box;
    }

    .select_container {
        flex-direction: column;
        gap: 15px;
        padding-right: 15px;
        /*margin-right: 25px;*/
        margin-inline: 27px;
    }

    .treatment-summary-form {
        width: 100%;
    }

    .history-section {
        width: 100%;
    }
}

/*@media נוספים שאפשר לעשות אם צריך  */


.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


/*!*  למסכים גדולים (מחשבים שולחניים קטנים)/חצי מסך גדול  *!*/
/*@media (min-width: 769px) and (max-width: 1024px) {*/
/*    body {*/
/*        background-color: green;*/
/*    }*/
/*    .select_container { }*/

/*}*/

/*!* / מסך מחשב נייד שי למסכים רחבים (מחשבים שולחניים גדולים) *!*/
/*@media (min-width: 1025px) {*/
/*    body{*/
/*    background-color:  red;*/
/*    }*/
/*    .select_container { }*/

/*}*/

