{% extends 'base.html' %}

{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('treatmentsummary.static' , filename='CSS/treatmentsummary.css' ) }}">
{% endblock %}

{#!!לא למחוק#}
{#<div class="userTypeButtons">#}
{#    <button id="patientButton" class="header-buttons header-bnt">Switch to Patient View</button>#}
{#    <button id="doctorButton" class="header-buttons header-bnt">Switch to Doctor View</button>#}
{#</div>#}

{% block page_body_header_content__headline %}
    <h1>סיכום טיפול</h1>
{% endblock %}

{% block page_body_main %}
    <main class="select_container">
        <form action="" method="post" class="treatment-summary-form">
            <div class="doctor-only">
                <div class="horizontal-group">
                    <div class="form-group">
                        <label for="client-name">שם לקוח:</label>
                        <input type="text" class="client-name" id="client-name" name="client-name"
                               placeholder="בחר בעלים"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="pet-name">שם חיית מחמד:</label>
                        <input type="text" class="pet-name" id="pet-name" name="pet-name" placeholder="בחר חיית מחמד"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="treatment-type">סוג טיפול:</label>
                        <select class="treatment-type" id="treatment-type" name="treatment-type">
                            <option value="checkup">בדיקה שגרתית</option>
                            <option value="vaccination">חיסון</option>
                            <option value="surgery">ניתוח</option>
                            <option value="other">אחר</option>
                        </select>
                    </div>

                    <div class="form-group form-actions">
                        <button type="submit" class="edit-button">ערוך</button>
                    </div>
                </div>
            </div>

            <div class="patient-only">
                <div class="horizontal-group">
                    <div class="form-group">
                        <label for="client-name">שם לקוח:</label>
                        <input type="text" id="p-client-name" class="client-name" name="client-name" readonly>
                    </div>

                    <div class="form-group">
                        <label for="pet-name">שם חיית מחמד:</label>
                        <input type="text" id="P-pet-name" class="pet-name" name="pet-name" readonly>
                    </div>

                    <div class="form-group">
                        <label for="treatment-type">סוג טיפול:</label>
                        <input type="text" id="P-treatment-type" class="treatment-type" name="pet-name" readonly>
                    </div>
                </div>
            </div>

            <div class="form-group" id="summaryRap">
                <label for="summary">סיכום טיפול:</label>
                <textarea class="summary" id="summary" name="summary" placeholder="הכנס סיכום טיפול..."
                          rows="5" required></textarea>
            </div>

            <div class="form-actions">
                <button type="submit" class="save-button doctor-only">שמור וחתום</button>
            </div>
        </form>

        <section class="history-section">
            <h2>היסטוריית טיפולים</h2>
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>תאריך</th>
                    <th>סוג טיפול</th>
                </tr>
                </thead>
                <tbody id="treatment-history">
                {% for treatment in treatments %}
                    <tr>
                        <td><input type="radio" class="select-row" name="select-treatment"></td>
                        <td>{{ treatment.datetime.strftime('%d/%m/%Y %H:%M') }}</td>
                        <td>{{ treatment.treatment }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <button type="button" class="open-record-button">פתיחה</button>
        </section>
    </main>
{% endblock %}

{% block page_body_footer %}    {% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('treatmentsummary.static' , filename='js/treatmentsummary.js' ) }}" defer></script>
{% endblock %}



