/* General styling */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri, sans-serif;
    background-color: #cce6ff;
    /*background-color: red;*/
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: white;
    font-size: calc(1.7rem + 1vw);
}

h2 {
    font-size: 20px;
    color: #555555;
}

h1, h2 {
    margin: 10px 0;
    font-weight: bold;
    color: #333333;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

header {
    grid-column: 1/span 3;
    background-color: #59aaf2;
    font-family: Calibri, sans-serif;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    direction: rtl;
    gap: 20px;
    position: relative;
    min-height: 2.5em;
    /*width: 99%;*/

}

header h1 {
    font-size: 4vw;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    flex-grow: 1;
    color: white;
}

header .icon {
    width: 60px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

@keyframes rotate-icon {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

header .icon:hover {
    animation: rotate-icon 1s ease-in-out;
}

/*Style according to screen size:   */
@media (max-width: 768px) {
    /*general: */
    body {
        box-sizing: border-box;
    }
}
