{% extends 'base.html' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('profile.static' , filename='CSS/profile.css' ) }}">
{% endblock %}

{% block page_body_header_content__headline %}
        <h1>אזור אישי - {{ pet["petName"] }}</h1>
{% endblock %}

{% block page_body_main %}
    <div class="profileContent">
        {% if pet %}
            {% if upcoming_appointment %}
                <h2>התור הקרוב: {{ upcoming_appointment["datetime"].strftime('%d/%m/%Y %H:%M') }}</h2>
            {% else %}
                <h2>אין תורים עתידיים :)</h2>
            {% endif %}
            <dl>
                <dt>שם</dt>
                <dd>{{ pet["petName"] }}</dd>
                <dt>סוג</dt>
                <dd>{{ pet["type"] }}</dd>
                <dt>מין</dt>
                <dd>{{ pet["gender"] }}</dd>
                <dt>תאריך לידה</dt>
                <dd>{{ pet.get("birthdate", "לא ידוע") }}</dd>
                <dt>משקל</dt>
                <dd>{{ pet["weight"] }}</dd>
                <dt>גזע</dt>
                <dd>{{ pet.get("breed", "לא ידוע") }}</dd>
            </dl>
            <button class="editDetails">ערוך פרטים ></button>
            <button class="history">היסטוריה רפואית ></button>
        {% else %}
            <p>לא נמצאו חיות מחמד עבור משתמש זה.</p>
        {% endif %}
    </div>
{% endblock %}

{% block page_body_footer %}    {% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('profile.static' , filename='js/profile.js' ) }}" defer></script>
{% endblock %}
