{% extends 'base.html' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('profile.static' , filename='CSS/profile.css' ) }}">
{% endblock %}

{% block page_body_header_content__headline %}
        <h1>אזור אישי - {{ pets[0]["petName"] }}</h1> <!-- Dynamically shows pet name -->
{% endblock %}

{% block page_body_main %}
    <div class="profileContent">
        {% if pets %}
            <h2>
                אין תורים עתידיים :)
            </h2>

            <dl>
                <dt>שם</dt>
                <dd>{{ pets[0]["petName"] }}</dd>
                <dt>סוג</dt>
                <dd>{{ pets[0]["type"] }}</dd>
                <dt>מין</dt>
                <dd>{{ pets[0]["gender"] }}</dd>
                <dt>תאריך לידה</dt>
                <dd>{{ pets[0].get("birthdate", "לא ידוע") }}</dd>
                <dt>משקל</dt>
                <dd>{{ pets[0].get("weight", "לא ידוע") }}</dd>
                <dt>גזע</dt>
                <dd>{{ pets[0].get("breed", "לא ידוע") }}</dd>
            </dl>
            <button class="editDetails">ערוך פרטים ></button>
            <button class="history">היסטוריה רפואית ></button>
        {% else %}
            <p>לא נמצאו חיות מחמד עבור משתמש זה.</p>
        {% endif %}
    </div>
{% endblock %}

{% block page_body_footer %}    {% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('profile.static' , filename='js/profile.js' ) }}" defer></script>
{% endblock %}
