{% extends 'base.html' %}

{#{% set page_head_title = '' %}#}

{#<!DOCTYPE html>#}
{#<html lang="en" dir="rtl">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>VetRinat</title>#}
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('registrationpet.static' , filename='CSS/registrationpet.css' ) }}">
{% endblock %}
{#</head>#}

{#<body>#}
{% block page_body_header_content__headline %}  {% endblock %}
{% block page_body_main %}
    <form action="{{ url_for('homepage.homepage_func') }}" method="get" class="RegistrationPetForm">
        <h1>צור משתמש</h1>
        <h2>פרטי חיית מחמד</h2><br>

        <div class="RegistrationLine">
            <label for="petName">שם</label>
            <input type="text" id="petName" name="petName" placeholder="הכנס שם חיית מחמד">
        </div>

        <div class="RegistrationLine">
            <label for="type">סוג</label>
            <select class="type" id="type" name="type">
                <option value="unpicked"></option>
                <option value="cat">חתול</option>
                <option value="dog">כלב</option>
            </select>
        </div>

        <div class="RegistrationLine">
            <label for="breed">גזע</label>
            <input type="text" id="breed" name="breed" placeholder="">
        </div>

        <div class="RegistrationLine">
            <label for="gender">מין</label>
            <select class="gender" id="gender" name="gender">
                <option value="unpicked"></option>
                <option value="male">זכר</option>
                <option value="female">נקבה</option>
            </select>
        </div>

        <div class="RegistrationLine">
            <label for="age">תאריך לידה</label>
            <input type="date" id="age" name="age" placeholder="גיל">
        </div>

        <div class="RegistrationLine">
            <label for="weight">משקל</label>
            <input type="number" id="weight" name="weight" placeholder="">
        </div>

        <div class="RegistrationLine">
            <label for="photo">העלאת תמונה</label>
            <input type="file" id="photo" name="photo" accept="image/*">
        </div>

        <input type="submit" name="" value="בצע הרשמה"><br><br>
    </form>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('registrationpet.static' , filename='js/registrationpet.js' ) }}" defer></script>
{% endblock %}

{#</body>#}
{#</html>#}
