<link rel="stylesheet" href="/components/navbar/static/navbar.css">

<nav class="navbar">
    <div class="headerButtons">
        <button class="homeButton">עמוד הבית</button>
        <button class="loginButton">התחברות</button>
        <button class="menuButton" onclick="toggleAnimal()">אזור אישי ></button>
        <button class="regisButton">הרשמה</button>
        <button class="infoButton">טיפולים</button>
        <button class="logoutButton">התנתקות</button>
    </div>
    <div class="animalButtons">
        <button onclick="">צ'לסי</button>
        <button onclick="">הוספה...</button>
    </div>
    <div class="welcome" style="display: none;">טוב לראות אותך שוב!</div>
</nav>

{#<script src="{{ url_for('navbar.static',filename='js/navbar.js') }}" defer></script>#}
<script src="/components/navbar/static/navbar.js" defer></script>
