{% extends 'base.html' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('login.static' , filename='CSS/login.css' ) }}">
{% endblock %}

{% block page_body_header %} {% endblock %}

{% block page_body_main %}
    <form action="{{ url_for('homepage.homepage_func') }}" method="get" class="LogInForm">
        <h1>כניסה לחשבון</h1><br>

        <div class="RegistrationLine">
            <label for="email">דואר אלקטרוני</label>
            <input type="text" id="email" name="email" placeholder="הכנס דואר אלקטרוני">
        </div>

        <div class="RegistrationLine">
            <label for="password">סיסמה</label>
            <input type="password" id="password" name="password" placeholder="הכנס סיסמה">
        </div>

        <br>
        <input type="submit" name="connect" value="התחבר/י"><br><br>
    </form>
{% endblock %}

{% block page_body_footer %}    {% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('login.static' , filename='js/login.js' ) }}" defer></script>
{% endblock %}