{#
Base page blocks:
- head
-- page_head
-- page_head_meta
-- page_head_css

- body
-- page_body_content
--- page_body_header
----- page_body_header_content__navbar
------ page_body_page_body_header_content__headline
--- page_body_main
--- page_body_footer
-- page_body_js
 #}
<!DOCTYPE html>
<html lang="{{ page_lang|default("en", true) }}" dir="rtl">
<head>
    {% block page_head %}
        {# Title #}
        <title>{{ page_head_title_author|default('VetRinat Clinic', true) }}
            | {{ page_head_title|default('VetRinat', true) }}</title>

        {# Meta tags #}
        {% block page_head_meta %}
            <base href="/"/>
            <meta charset="UTF-8"/>
            <meta name="author" content="Orianne & Shai"/>
            <meta name="description"
                  content="A website for Rinat the veterinarian"/>
            <meta name="keywords"
                  content="veterinarian,treatment, cat, dog, sick, environment"/>
            {#            {% block page_head_meta_extra %}{% endblock %}#}
        {% endblock %}

        {# favicon #}
        <link rel="icon" href="{{ url_for('static', filename='media/img/icon.png') }}"/>

        {# Base #}
        <base href="/"/>

        {# CSS #}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
        {% block page_head_css %}   {% endblock %}
    {% endblock %}
</head>

<body>
{% block page_body_content %}

    {# Header #}
    {% block page_body_header %}
        <header class="page-header">

            {# navbar#}
            {% block page_body_header_content__navbar %}
                <nav class="main-menu">
                    {% include 'navbar.html' %}
                </nav>
            {% endblock %}

            {#headline#}
            {% block page_body_header_content__headline %}
            {% endblock %}

            <img src="{{ url_for('static', filename='media/img/icon.png') }}" alt="icon" class="icon">
        </header>
    {% endblock %}

    {# Main #}
    {% block page_body_main %}    {% endblock %}

    {# Footer #}
    {% block page_body_footer %}
        {% include 'footer.html' %}
    {% endblock %}
{% endblock %}

{# JS #}
{% block page_body_js %}
    <script> window.showWelcome = true; </script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock %}

</body>
</html>
