{% extends 'base.html' %}

{#{% set page_head_title = 'Information' %}#}
{##}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en" dir="rtl">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>VetRinat</title>#}
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('info.static' , filename='CSS/info.css' ) }}">
{% endblock %}
{#</head>#}

{#<body class="info-page">#}

{#<header>#}
{#    <div class="headerButtons">#}
{#        <button class="homeButton">עמוד הבית</button>#}
{#        <button class="loginButton">התחברות</button>#}
{#        <button class="menuButton" onclick="toggleAnimal()">אזור אישי ></button>#}
{#        <button class="regisButton">הרשמה</button>#}
{#        <button class="infoButton">טיפולים</button>#}
{#        <button class="logoutButton">התנתקות</button>#}
{#    </div>#}
{% block page_body_header_content__headline %}
    <h1>הטיפולים שלנו</h1>
{% endblock %}
{#    <div class="animalButtons">#}
{#        <button onclick="">צ'לסי</button>#}
{#        <button onclick="">הוספה...</button>#}
{#    </div>#}
{##}
{#    <img src="{{ url_for('info.static',filename='media/img/icon.png')}}" alt="icon" class="icon">#}
{#</header>#}

{% block page_body_main %}
    <div class="services">
        <div class="service">
            <img src="{{ url_for('info.static', filename='media/img/services1.png') }}" alt="" style="width: 30px">
            בדיקות רפואיות שגרתיות ואבחון
        </div>

        <div class="service">
            <img src="{{ url_for('info.static',filename='media/img/services2.png') }}" alt="" style="width: 30px">
            שירותי חירום וטיפול במצבים דחופים
        </div>

        <div class="service">
            <img src="{{ url_for('info.static',filename='media/img/services3.png') }}" alt="" style="width: 30px">
            טיפוח ובריאות כללית
        </div>
    </div>

    <div class="infoBoxes">
        <div class="infoBox">
            <ul>
                <li><strong>חיסונים לכלבים ולחתולים: </strong>מידע על חיסונים מומלצים, מועדים ותדירות.</li>
                <li><strong>חיסונים לכלבים ולחתולים: </strong>מידע על חיסונים מומלצים, מועדים ותדירות.</li>
                <li><strong>טיפולים נגד פרעושים וקרציות: </strong>סוגי טיפולים זמינים ומניעת טפילים.</li>
            </ul>
        </div>

        <div class="infoBox">
            <ul>
                <li><strong>שירותי חירום 24/7: </strong>מה לעשות במצבי חירום, יצירת קשר והכוונה.</li>
                <li><strong>טיפולים בכאבים: </strong>גישות וטכניקות להקלה על כאב במצבים שונים.</li>
            </ul>
        </div>

        <div class="infoBox">
            <ul>
                <li><strong>טיפולי שיניים: </strong>ניקוי שיניים, טיפול במחלות חניכיים ומניעת ריח רע.</li>
                <li><strong>ייעוץ תזונתי: </strong>התאמת תפריט לפי גזע, גיל ומצב בריאותי של החיה.</li>
                <li><strong>טיפוח פרווה וציפורניים: </strong>שירותים כמו גזיזת ציפורניים וניקוי פרווה.</li>
            </ul>
        </div>
    </div>

{% endblock %}
{##}
{#<div class="contactInfo">#}
{#    <div class="info">#}
{#        <img src="photos/whatsapp.png" alt="" style="width: 20px">#}
{#        טלפון זמין בין הימים א'-ה' בשעות 8:30 ל15:30 - 07-5343065#}
{#    </div>#}
{##}
{#    <div class="info">#}
{#        <img src="photos/email.png" alt="" style="width: 20px">#}
{#        מייל לפניות נוספות VetRinat@gmail.com#}
{#    </div>#}
{##}
{#    <div class="info">#}
{#        <img src="photos/address.png" alt="" style="width: 20px">#}
{#        כתובת המרפאה: שמעוני 9, באר שבע, ישראל#}
{#    </div>#}
{#</div>#}

{% block page_body_js %}
    <script src="{{ url_for('info.static' , filename='js/info.js' ) }}" defer></script>
{% endblock %}
{#</body>#}
{#</html>#}